.post__feature-image {
    background-color: #eee;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 ($grid-gutter-width / -2);
    padding-top: 50%; // 2:1 width:height ratio

    @include media-breakpoint-up('sm') {
        margin-left: 0;
        margin-right: 0;
    }

    @include media-breakpoint-up('lg') {
        padding-top: 45%;
    }

    @include media-breakpoint-up('xl') {
        padding-top: 40%; // 2.5:1 width:height ratio
    }

    img {
        display: none;
    }

    @media (print) {
        background: none;
        padding: 0;

        img {
            display: block;
        }
    }
}

.post__title {
    margin-bottom: 0.5rem;
}

.post__date {
    color: $gray-600
}

.post__content {
    .wp-block-image {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
