$color-engage-green: #208e72;
$color-engage-teal: #008498;
$color-engage-mid-blue: #007AC8;
$color-engage-light-blue: #00b3d4;
$color-engage-red: #eb1752;

$primary: $color-engage-mid-blue;
$secondary: $color-engage-green;

$link-color: $color-engage-mid-blue;

$font-family-sans-serif: "Quicksand", sans-serif;
$font-weight-normal: 500; // Quicksand 400 is very thin.

$headings-margin-bottom: 1rem;
$lead-font-weight: normal;
$hr-margin-y: 2rem;
